* {
     padding: 0;
     margin: 0;
     vertical-align: baseline;
     list-style: none;
     border: 0;
     text-decoration: none;
}

html {
     scroll-behavior: smooth;
}

header {
     background-color: #ffffff;
     padding: 10px 0;
     box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
     top: 0;
     left: 0;
     width: 100%;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 13px;
}

.container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 1100px;
     margin: 0 auto;
     padding: 0 20px;
     font-size: 13px;
}

nav ul {
     display: flex;
     list-style: none;
     margin: 0;
     padding: 0;
     font-size: 13px;
}

nav li {
     margin-right: 20px;
}

nav a {
     color: #333;
     font-size: 13px;
     font-weight: 400;
     padding: 0 15px;
     border: 1px dotted #ffffff;
}

nav a:focus {
     border: 1px dotted #000;
     padding: 10px 15px;
}

nav a:hover {
     padding: 3px 15px;
     border-bottom: 2px solid #000;
}

.person {
     width: 35px;
     padding: 0 5px;
}

.logo {
     width: 110px;
}

.login {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0 5px;
}

.cadastro {
     border: 1px dotted #ffffff;
}

.cadastro:focus {
     border: 1px dotted #000;
}

.login span {
     color: #333;
     text-decoration: none;
     font-size: 13px;
     font-weight: 400;
     padding: 0 0 0 5px;
}

/* ABAIXO DO HEADER */

.video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1000;
     -webkit-filter: brightness(0.4);
     filter: brightness(0.4);
}

.video_home {
     -webkit-transition: all 0.8s ease-in-out;
     transition: all 0.8s ease-in-out;
     width: 100vh;
     align-self: center;
     height: 640px;
     width: 100%;
     object-fit: cover;
}

.video {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.texto-principal {
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: Arial, Helvetica, sans-serif;
     flex-direction: column;
     row-gap: 15px;
     height: 500px;
}

.texto-principal h1 {
     color: white;
     font-size: 30px;
     width: 50%;
     margin: 0 auto;
     text-align: center;

}

.texto-principal p {
     color: white;
     font-size: 19px;
     width: 50%;
     margin: 0 auto;
     text-align: center;
     font-weight: 100;
}

.texto-principal span {
     color: #ea4c89;
     text-shadow: 0 0 30px #e4226d;
}

.dpt {
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 17px;
     line-height: 25px;
}

.dpt-div {
     background-color: white;
     display: flex;
     flex-direction: column;
     row-gap: 10px;
     padding: 20px;
     width: 50%;
     border-left: 20px solid #ea4c89;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.dpt-div p:nth-child(2) {
     text-align: right;
     color: #686868;
}

.dpt-div p:nth-child(3) {
     text-align: right;
     color: #929292;
}

/* ------------------------------------------ */

.modo-uso {
     display: flex;
     justify-content: center;
     align-items: center;
     column-gap: 80px;
     font-family: Arial, Helvetica, sans-serif;
     width: 100%;
     padding: 80px 0;
     margin: 0;

}

.col-1 {
     display: flex;
     flex-direction: column;
     row-gap: 15px;
     max-width: 40%;
}

.col-1 h1 {
     font-size: 32px;
}

.col-1 button {
     background-color: #ea4c89;
     color: white;
     width: 40%;
     padding: 10px;
     font-weight: 700;
     cursor: pointer;
}

.col-2 {
     background-color: #fbfbfb;
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 80%;
     align-items: left;
     padding: 30px;
     max-width: 40%;
     row-gap: 7px;
     text-align: justify;
}

.col-2 h1 {
     font-size: 23px;
     color: #ea4c89;
}

.col-2 span {
     font-weight: 700;
}

.col-2 strong {
     color: #ea4c89;
}

.col-2 p {
     line-height: 25px;
}

.col-2 h1:nth-of-type(2) {
     padding: 15px 0 0 0;
}

/* ------------------------------------------ */

.sobre-nos {
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     row-gap: 25px;
     margin-top: 50px;
}

.sbn-title {
     height: 100%;
     width: 50%;
     background-color: #ea4c89;
     text-align: center;
     font-size: 12px;
     color: #ffffff;
     padding: 10px;
     border-radius: 20px 0;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.topicos {
     display: flex;
     justify-content: center;
     flex-direction: row;
     column-gap: 20px;
}

.topicos-child {
     width: 400px;
     margin: 0 10px;
}

.topicos-child img {
     width: 100%;
     height: 200px;
     margin-bottom: 10px;
     object-fit: cover;
     border-radius: 0px 20px;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.topicos-child h1 {
     font-size: 1.2rem;
     margin-bottom: 5px;
}

.topicos-child p {
     line-height: 25px;
}

/* ------------------------------------------ */

.precos {
     display: flex;
     justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
     row-gap: 25px;
     margin-top: 150px;
     background-color: #f2f2f2;
     padding: 100px 0 100px 0;
}

.sub-price {
     display: flex;
     max-width: 50%;
     flex-direction: column;
     row-gap: 15px;
     background-color: white;
     padding: 100px;
     box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, .11), 0 0.1875rem 0.4375rem rgba(0, 0, 0, .13)
}

.sub-price h1 {
     color: #000;
     padding: 0 0 20px 0;
}

.sub-price h2 {
     color: #4CAF50;
     margin-bottom: -15px;
}

.sub-price h3 {
     color: #929292;
     font-size: small;
}

.sub-price p {
     line-height: 30px;
}

.sub-price button {
     background-color: #ea4c89;
     color: white;
     max-width: fit-content;
     padding: 15px;
     font-weight: 700;
     font-size: 17px;
     margin-top: 25px;
}

.sub-price span {
     background-color: #e8e8e8;
     padding: 5px;
}

/* ------------------------------------------ */

footer {
     background-color: #262626;
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     font-family: Arial, Helvetica, sans-serif;
     justify-content: space-around;
     padding: 50px 0;
}

.logo img {
     height: 30px;
}

.links a {
     color: #fff;
     margin-right: 20px;
     text-decoration: none;
}

footer a:hover {
     text-decoration: underline;
}

.policy:hover {
     text-decoration: underline;
     cursor: pointer;
}

.policy,
.copy {
     margin-top: 10px;
}

/* ------------------------------------------ */

.voltar-topo {
     position: fixed;
     background-color: #d9d9d9;
     bottom: 20px;
     right: 20px;
     height: 40px;
     display: none;
     opacity: 0;
}

.voltar-topo img {
     height: 25px;
}

.voltar-topo p {
     font-family: Arial, Helvetica, sans-serif;
     color: #000;
}

.voltar-topo.mostrar {
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 1;
     visibility: visible;
     flex-direction: row;
     column-gap: 5px;
     text-decoration: none;
     padding: 0 15px 0 7px;
}